#clock{
  &--digital{
    font-size: 80px;
    width:200px;
    margin: 0 auto;

  }
  &--date{
    font-size: 20px;
    margin: 0 auto;
  }
  &--dst{
    font-size: 20px;
    margin: 0 auto;

  }

}
.clock__holder {
  width: 300px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(0,0,0,0.6);
  background: #fffee4;
}