* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
header {
  background: $font-color;
  height: 100px;
},

nav {
  height: 40px;
  background: #770000;
  box-shadow: 2px 2px 3px #000;
}
content {
  width: 960px;
  margin: 0 auto;
}
.centered {
  width: 960px;
  margin: 0 auto;
}
